.button {
  font-size: 15px;
  user-select: none;
  border: none;
  text-decoration: none;
}

.button:focus {
  outline: none !important;
}

.button:active {
  opacity: 0.5;
}

.track {
  display: inline-block;
  margin-right: 2px;
}

.track .title {
  margin-bottom: 12px;
  color: #777;
  text-align: center;
}

.clip {
  display: block;
  width: 100px;
  height: 100px;
  background: lightgrey url('components/Clip/play-icon.svg') no-repeat center;
  background-size: 80px;
  cursor: pointer;
  margin-bottom: 2px;
  padding: 0;
}

@keyframes filler {
  from { width: 0%; }
  to { width: 100%; }
}

.clip .progress {
  width: 0;
  height: 100%;
  background: white;
  opacity: 0.3;
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

.clip.starting, .clip.stopping {
  animation: blinker 1.5s ease-in-out infinite;
}

.clip.started .progress {
  animation: filler 4s linear infinite;
}

.clip.stopping .progress {
  animation: filler 4s linear infinite;
}

.clip.starting, .clip.started {
  background: lightgrey url('components/Clip/stop-icon.svg') no-repeat center;
  background-size: 60px !important;
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

.spinner {
  display: block;
  animation: spin 5000ms linear infinite;
}
