.button {
  font-size: 15px;
  user-select: none;
  border: none;
  text-decoration: none;
}

.button:focus {
  outline: none !important;
}

.button:active {
  opacity: 0.5;
}

.track {
  display: inline-block;
  margin-right: 2px;
}

.track .title {
  margin-bottom: 12px;
  color: #777;
  text-align: center;
}

.Loader__background {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
